@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Righteous');


form#custom{
    font-family: 'Lobster', cursive;
    border: 2px solid dodgerblue;
    border-radius: 5px;
}


select[name=category], input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid lightblue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

select[name=category]{
    border-radius: 10px;
}
input[type=text]:focus {
    border: 3px solid dodgerblue;
}

#button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button:hover span {
  padding-right: 25px;
}

#button:hover span:after {
  opacity: 1;
  right: 0;
}

.bar:hover{
    fill: red;
}

.axis text{
    font: 10px sans-serif;
}

.axis path,
.axis line{
    fill: none;
    stroke:white;
    shape-rendering: crispEdges;
}

.x.axis path{
    display: none;
}