<!DOCTYPE html>
<html>
    <head>
        <title>
            Ports
        </title>
        <script type="text/javascript" src="static/js/ports.js"></script>
        <script type="text/javascript" src="static/js/d3.min.js"></script>
        <link type = "text/css" rel = "stylesheet" href = "static/ports.css"/>
        <style>

            select[name=category], input[type=text] {
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                border: 3px solid lightblue;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                outline: none;
            }

            select[name=category]{
                border-radius: 10px;
            }
            input[type=text]:focus {
                border: 3px solid dodgerblue;
            }
            
        </style>
    </head>
    <body style="background-color:oldlace">
        <center>
        <a href="/">Home</a>
        <a href="/map">Maps</a>
        <form id = "custom" >
            Year (Between 1949 and 2014)<br>
            <input type="text" name="year" value="{{year}}"><br>
            Category<br>
            <select name="category">
                <option value="consumption">Consumption</option>
                <option value="production">Production</option>
                <option value="imports">Import</option>
                <option value="exports">Export</option>
            </select><br>
            <input type="submit" value="Submit">
        </form>
        </center>
        <svg class="chart"></svg>
	  </body>
    <script>

     // set the dimensions of the canvas
     var margin = {top: 80, right: 50, bottom: 80, left: 100},
         width = 1280 - margin.left - margin.right,
         height = 720 - margin.top - margin.bottom;

     //creating the actual chart
     var chart = d3.select(".chart")
                   .attr("width", width + margin.left + margin.right)
                   .attr("height", height + margin.top + margin.bottom)
                   .append("g")
                   .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

     //storing our data and parameters
     var data = {{data | safe}}
     var category = '{{category | safe}}'
     var year = '{{year}}'

     if (year > 2014 || year < 1949 || isNaN(year)){
         alert("Enter a number between 1949 and 2014");
         year = 1949;
     }

     var dict = data[year - 1949]['data'][category];

     //scaling the graph
     var yScale = d3.scaleLinear()
                    .domain([d3.max(d3.values(dict)),0])
                    .range([0,height]);

     var xScale = d3.scaleBand()
                    .domain(d3.entries(dict).map(function(d){return d.key;}))
                    .rangeRound([0,width])
                    .padding(.1);

     //creating the bars
     chart.selectAll(".bar")
          .data(d3.entries(dict))
          .enter().append("rect")
          .attr("class","bar")
          .attr("fill", function(d) {return "rgb(0 ," + Math.floor(d.value * 1.5 + 50) + ", 0)";})
          .attr("x", function(d) {return xScale(d.key)})
          .attr("y", function(d) {return yScale(d.value)})
          .attr("height", function(d) {return height - yScale(d.value);})
          .attr("width", xScale.bandwidth());

     //x, y axis
     var xAxis = d3.axisBottom(xScale);
     var yAxis = d3.axisLeft(yScale);

     chart.append("g")
          .attr("class","x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis) 

     chart.append("text")
          .attr("x", width / 2 - margin.right)
          .attr("y", height + margin.bottom - 20)
          .style("font-variant", "small-caps")
          .text(category.charAt(0).toUpperCase() + category.slice(1));

     chart.append("g")
          .attr("class","y axis") 
          .call(yAxis)

     chart.append("text")
          .attr("transform", "rotate(-90)") 
          .attr("y", - margin.right)
          .attr("x", - width / 2 + 3 * margin.left) 
          .style("text-anchor", "middle")
          .style("font-variant", "small-caps")
          .text("Quadrillon British Thermal Units (BTUs)");

     chart.selectAll("text")
          .data(d3.entries(dict))
          .enter()
          .append("text")
          .text("hello"
          )
          .attr("x", function(d, i) {
              return i * (width / (d3.entries(dict)).length);
          })
          .attr("y", function(d) {
              return height - (d.value * 4);
          })
          .attr("dy", ".35em")
          .attr("font-family", "sans-serif")
          .attr("font-size", "11px")
          .attr("fill", "white");

     chart.append("text")
          .attr("x", (width / 2))          
          .attr("y", 0 - (margin.top / 2)) 
          .attr("text-anchor", "middle") 
          .style("font-size", "30px")  
          .style("text-decoration", "underline")  
          .style("font-weight", "bold")
          .text("U.S " + category.charAt(0).toUpperCase() + category.slice(1) + " Data for Year " + year);
    </script>
</html>
