<!DOCTYPE html>
<html>
    <head>
        <title>
            Ports
        </title>
        <script type="text/javascript" src="static/js/dynamicEnergy.js"></script>
        <script type="text/javascript" src="static/js/d3.min.js"></script>
        <style>
         .chart rect{
             fill: steelblue;
         }
	      </style>
    </head>

    <body>
        <svg class="chart"></svg>
	  </body>
    <script>

     // set the dimensions of the canvas
     var width = 800;
     var height = 800;

     var chart = d3.select(".chart")
                   .attr("width",width)
                   .attr("height",height);

     var data = {{data | safe}}

     var consumption = data[0]['data']['consumption'];

     var yScale = d3.scaleLinear()
                    .domain([0,d3.max(d3.values(consumption))])
                    .range([0,height]);

     var xScale = d3.scaleBand()
                    .domain(d3.entries(consumption).map(function(d){return d.key;}))
                    .rangeRound([0,width])
                    .padding(.1);

     var bar = chart.selectAll("g")
                    .data(consumption)
                    .enter().append("g")
                    .attr("transform", function(d) {return "translate(" + xScale(d) + ",0)";});

    </script>
</html>
